.red
    color: #f44336 !important

.blue
    color: #0070c0 !important
.blue-2
    color: #0000ff

.lh-0
    line-height: 1 !important

.border-333
    border: 1px solid #333 !important
.text-bold
    font-weight: bold
.lh-11
    line-height: 1.1

.h-auto
    height: auto

.h-46
    height: 46px
